<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FireBaseApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF93B5791E2508CD00B0400B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFC5E7ED1E2DFCE500BFA4A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFC5E8061E2E048700BFA4A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
